<!DOCTYPE html>
<html>
<head>
    <title>CNN - WebSite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <figure class="text-center">
                    <h1>
                        Dog Breed Detection
                    </h1>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-center">
                    <a href="http://54.196.90.20:4201/"> Home </a>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <a href="http://54.196.90.20:4201/image/"> Upload Image</a>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <a href="http://54.196.90.20:4201/correction/"> Submit a correction </a>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <p class="text-center">
                    Welcome to the dog breed dection center. We are in alpha!
                </p>
            </div>
        </div>
    </div>
    
</body>

</html> 